### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorar específicamente el archivo grande que excede los 100MB
obj/tritonen-und-najadenbrunnen/source/Brunnen_C/Brunnen_C.obj
obj/BS09_NeriumOleander_OBJ/OBJ_BS09_NeriumOleander_4.obj

# (Opcional) Ignorar todos los .obj si decides no subir ninguno
*.obj
# Ignorar compilados y basura de ejecución
out/
obj/
*.class

# Ignorar configuración de IntelliJ
.idea/
*.iml

# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db